<div class="app mat-typography">
	<div class="sidenav" [ngClass]="{'open': isOpen}">
		<app-sidebar (closeEmitter)="closeEmitterHandler()"></app-sidebar>
	</div>
	<main>
		<mat-toolbar color="primary" class="mat-elevation-z2">

      <div class="brand">
        Admin
      </div>

      <div class="navbar-menu">

        <a 
          *ngFor="let link of links"
          class="navbar-link"
          [routerLink]="[link.path]">
         <mat-icon>{{link.icon}}</mat-icon>
        </a>

        <div (click)="onLogout()" class="navbar-link">
          <mat-icon>exit_to_app</mat-icon>
        </div>


      </div>

      
        <div (click)="toggleMenu()" style="cursor: pointer;" class="toggleMenu">
          <mat-icon>menu</mat-icon>
        </div>
     
		</mat-toolbar>
    <!--Main router outlet-->
		<section class="container-fluid">
			<router-outlet></router-outlet>
		</section>
    
	</main>
</div>

<div class="backdrop" [ngClass]="{'show': isOpen}" (click)="toggleMenu()"></div>