/* Add application styles & imports to this file! */
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css");
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background: #eee;
   height: 100vh;
}


[class*="col-"] {
  margin-bottom: 15px;
}

.row.fadeUp{
  opacity: 0;
}


.fadeUp {
  animation: fadeUp .3s ease-in-out forwards;
  animation-delay: .3s;
}

@keyframes fadeUp {
  from{
    transform: translateY(20px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.between{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Back Button Styling */
.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.back-icon {
  width: 30px; /* Adjust the size of the back icon */
  height: auto;
  margin-left: 20px;
}

/* Hover effect for back button */
.back-button:hover {
  opacity: 0.7; /* Subtle hover effect */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card-title {
      padding: 10px;
  }
  .title-text {
      font-size: 20px;
  }
}

/* Success Toast */
.toast-success {
  background-color: #4caf50; /* Green background */
  color: #fff; /* White text */
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
}

.toast-success .mat-simple-snackbar-action {
  color: #fff; /* White action button */
}

/* Error Toast */
.toast-error {
  background-color: #f44336; /* Red background */
  color: #fff; /* White text */
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
}

.toast-error .mat-simple-snackbar-action {
  color: #fff; /* White action button */
}
